html
	head
		include common/styles.jade
	body
		.container
			include common/header.jade
			.jumbotron
				h2 This tool updates Github pull requests
				a.btn.btn-primary.btn-lg(href="/auth/github") Login with GitHub
