.page-header
	if (user)
		div.pull-right.btn-group(dropdown)
			button.btn.btn-default #{user.profile.name} (#{user.profile.login})
			button.btn.btn-default.dropdown-toggle(dropdown-toggle)
				span.caret
				span.sr-only Toggle Dropdown
			ul.dropdown-menu
				li
					a(href="/logout") Logout
	h1 
		| Diorama 
		small Visual Regression Review
	h6(ncy-breadcrumb)
