// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
script(src='/bower_components/js-data/dist/js-data.js')
script(src='/bower_components/js-data-angular/dist/js-data-angular.js')
script(src='/bower_components/lodash/lodash.js')
script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='/bower_components/angular-breadcrumb/release/angular-breadcrumb.js')
// endbower
script(src='/bower_components/resemblejs/resemble.js')
